body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 80px;
  background: #dcecf7;
}

.timezone-converter {
  padding: 20px;
}

.timezone-converter.light {
  background-color: #f9f9f9;
  color: #000;
}

.timezone-converter.dark {
  background-color: #333;
  color: #fff;
}
